@page "/imagedisplay"
@using System.Net.Http.Json
@using System.Text.Json.Serialization
@using System.Text.Json
@inject HttpClient httpClient



<h3>ImageDisplay</h3>


<img src="@Link"/>


@code {
    private string Link;


    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var response = await client.GetStringAsync("https://dog.ceo/api/breeds/image/random");
        var json = JsonSerializer.Deserialize<ApiResponse>(response);
        Link = json.message;
    }

    public class ApiResponse
    {
       
        public string? message { get; set; }
        public string? status { get; set; }

}
}
